button{
    width: 3em;
    height: 3em;
    font-size:1,5em ;
    border: none;
    border-radius: 2em;
    margin:0.3em ;
  
}
button :hover{
cursor: pointer;
}
.wrapper{
  width: 230px;
  margin: 7px;
  padding: 7px;
  background-color: black;
  border-radius:1em;  
}
.btn{
  background-color:olivedrab ;
  color: white;
}
.btns{
  background-color: #505050;
  color: white;
}
.result{
 color:white;
 display: flex;
 justify-content: flex-end;
 margin: 1em;
 font-size: 2em;
}